.indication-title{
	background-color: green;
}

.character-bio{
	border: blue 2px solid;
	margin-bottom: 10px;
	list-style: none;
}

.selected{
	border: yellow 2px solid;
	margin-bottom: 10px;
	list-style: none;
}

.portrait{
	max-height: 160px;
	overflow: hidden;
}

.team{
	border: green 2px solid;
	margin-bottom: 10px;
}